* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

/* Atomic Stylings */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.dark-bg {
  background: #2f303d;
}

.white-text {
  color: #fff;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.center-caption {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Main Styles */

.container {
  padding: 0 2rem;
}

.full-container {
  width: 100%;
}

.main-banner {
  align-items: center;
  height: 50vh;
  background: #efefef;
}

.stuff-i-do {
  flex-flow: row wrap;
}

.stuff-i-do .box {
  flex: auto;
  width: 33%;
}
