/* Resets */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #E0FBFC;
}

h1, h2, h3, h4 {
  line-height: 2.8rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

nav ul li {
  list-style: none;
}

a {
  /* transition: color .1s ease; */
  text-decoration: none;
}

a:active, 
a:visited {
  color: var(--btn-primary);
}

a:hover {
  color: var(--btn-primary);
}

button {
  border: 0px;
  background: transparent;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 2px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

/* Variables */

:root {
  --primary: #6B8EAD;
  --secondary: ;
  --btn-primary: #EE6C4D;
  --btn-secondary: ;
  --light: #E0FBFC;
  --dark: #293241;
}


/* Main Styles */

.main-btn {
  color: var(--dark);
  background-color: var(--btn-primary);
}

section {
  padding: 1rem 0;
}

.nav-button {
  padding: 16px 0;
  width: 100%;
}

.nav-button span {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 24px;
  margin: 4px 0;
  border-radius: 4px;
}

.nav-button span:nth-child(2) {
  width: 16px;
}

.nav-button span:nth-child(3) {
  width: 20px;
}

.main-nav {
  max-height: 180px;
}

.nav-links {
  overflow: hidden;
  transition: all .5s ease-in-out;
  height: 0;
}

.nav-links li a {
  height: 100%;
  padding: 16px;
  color: var(--light);
}

.nav-links li a:hover {
  color: var(--dark);
  background-color: var(--light);
}

.nav-links li {
  padding: 16px 0;
}

.container {
  padding: 0 1.4rem;
}

.full-container {
  width: 100%;
}

.main-banner {
  align-items: center;
  min-height: 50vh;
  padding: 0 0 2.4rem;
}

.profile-pic {
  padding: 1.5rem;
}

.intro {
  max-width: 640px;

}

.intro h1 {
  margin-bottom: 16px;
}

.intro p {
  margin-bottom: 24px;
}

.intro span {
  color: var(--primary);
  font-weight: bold;
}

.box {
  flex: 1 1 auto;
}

.box img {
  transition: .1s ease;
  -webkit-filter: grayscale(.6);
          filter: grayscale(.6);
  display: block;
  width: 100%;
}

.box img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.connect {
  margin-bottom: 24px;
}

.connect .icon {
  padding: 0 4px;
}

.icon {
  width: 40px;
}

footer {
  padding: 24px 0;
}

/* Utility Styles */

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.sp-between {
  justify-content: space-between;
}

.sp-around {
  justify-content: space-around;
}

.y-center {
  justify-content: center;
}

.x-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.dark-bg {
  background: var(--dark);
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.center-caption {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex-flow-rw {
  flex-flow: row wrap;
}

.hide {
  height: 0;
}

.show {
  height: 180px;
}

/* Media Queries */

@media (min-width: 576px) {

}

@media (min-width: 768px) {}
@media (min-width: 992px) {}

@media (min-width: 1200px) {

  .nav-button {
    display: none;
  }

  .nav-links {
    height: auto;
  }

  .nav-links li {
    display: inline-block;
  }

}